body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

main{
    margin: 12px 175px;
    padding: 5px 0px;
    background-color: lightcoral;
    border-color: black;
    border-radius: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(61, 61, 61, 0.726)
}

input {
    margin: 0px 5px;
}

input#weight_input{
    margin-left: 10px;
}

input[type="button"] {
    margin: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

label {
    display: block;
    margin: 8px;
    padding: 1px;
}

::placeholder {
    text-align: end;
    color: rgba(88, 88, 88, 0.788);
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 8px 4px;
    padding-left: 25%;
    width: 74.7vw;
    background-color: lightcoral;

}

dl#credits{
    margin: 4px;
    display: flex;
    margin: auto;
    
}

dt {
    margin: 0px 100px;
    margin-right: 100px;
    text-decoration: underline;
    color: rgba(61, 61, 61, 0.726)
}

dd {
    font-size: 22px;
    margin: 4px;
    margin-top: 30px;
}

dd#dev {
    margin-left: -228px;
}

dd#creator {
    margin-left: -208px;
}

dd#owner {
    margin-left: -180px;
}